body {
    font-family: Helvetica, Arial, sans-serif;
	background-color: #333;
	color: #eee;
}

h1 {background-color: orange;}
.stage {
    height: 600px;
    border: solid 5px teal;
    background-image: url('../img/pixelgrid-800.gif');
}

.stage .orb {
  width:100px;
  display: block; /* moons are stacked on top of each other */

  position: relative;
  opacity:0.3; /* 0.3 -30% transparency (1.0 - 100% transparency) */
  transition: 1s all;
}

.stage .orb:hover {  /* orb is a child of stage */
  opacity:1.0;
}
.stage .orb1 {left: 0px;} /*  "space" says look for decendent of any children; "no space" means shares same class */
.stage .orb2 {left: 100px;}
.stage .orb3 {left: 200px;}
.stage .orb4 {left: 300px;}

.stage .orb1.on {left: 400px;} /* orb1 is a child of stage; if theres a "space" b4 .on -> .on is a child of orb1 */
.stage .orb2.on {left: 500px;}
.stage .orb3.on {left: 0px;}
.stage .orb4.on {left: 100px;}
